<div class="row">
    <div class="col-md-2">
       
<!--折叠开始-->
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
</div>
<!--折叠结束-->
    </div>
    <div class="col-md-10" role="main">
        <div class="row">
          {{render "map" map}}
        </div>
        <div class="row">
            <div class="col-md-4">
              {{radar-chart height=300 content=data}}
            </div>
            <div class="col-md-4">
              {{hbar-chart height=300 content=data1}}
            </div>
            <div class="col-md-4">
              {{line-chart height=300 content=data2}}
            </div>
        </div>
    </div>

</div>

