<div class="row">

 {{type-ahead url='data/repos.json' template='' selection=item placeholder='请输入'}}

    <div class="col-md-12">
        <h1>{{model.title}}</h1>
      {{radar-chart height=500 content=model}}
    </div>
</div>