<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
           <strong><a href="#" class="navbar-brand"> 
             <i class="fa fa-home fa-1x"></i>&nbsp{{t app.title}}</a></strong>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          {{render "mainMenu" mainMenu}}
            <ul class="nav navbar-nav navbar-right">
           <!--   <strong><li>  {{link-to "登录" "login"}}</li></strong>-->
           <li>
           {{#link-to 'login'}}<strong><i class="fa fa-user fa-1x"></i>&nbsp登陆</strong>{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>
