{{partial  'head'}}
<main class="bs-masthead" id="content" role="main">
    <div class="container">
      {{#link-to "users"}} Go to the users page {{/link-to}}
    </div>
</main>
{{partial  'footer'}}