<div class="row">
 <legend><h3 class="text-center">后台任务监视</h3></legend>

 <div class="row">
   
      <div class="col-md-2">
        <p class="text-right">数据采集</p>
      </div>
      
      <div class="col-md-4">
      {{#if isImporting}}
     <!-- 不可用-->
       <button type="submit" class="btn btn-primary" {{action 'importData'}}  disabled="disabled">
		采集中</button>
		{{else}}
		 <button type="submit" class="btn btn-primary" {{action 'importData'}} >
		开始采集</button>
		{{/if}}
     </div>
  
      <div class="col-md-2">
        <p class="text-right">数据评测</p>
      </div>
      
      <div class="col-md-4">
	      <button type="submit" class="btn btn-primary" {{action 'evaluate'}}>
		    开始评测</button>
      </div>
 
      
    </div> 

<p>   </p>
<p>   </p>

			 {{#if isImporting}}
			<div class="progress progress-striped active">
			  <div class="progress-bar"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			    <span class="sr-only">100% Complete</span>
			  </div>
			</div>
            {{/if}}
            
             {{#if isEvaluating}}
			<div class="progress progress-striped active">
			  <div class="progress-bar"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			    <span class="sr-only">100% Complete</span>
			  </div>
			</div>
            {{/if}}
         
                          



</div>